<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="~/images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                @*<li class="active has-sub">
            <a class="js-arrow" href="#">
                <i class="fas fa-tachometer-alt"></i>Dashboard
            </a>
            <ul class="list-unstyled navbar__sub-list js-sub-list">
                <li>
                    <a href="index.html">Dashboard 1</a>
                </li>
                <li>
                    <a href="index2.html">Dashboard 2</a>
                </li>
                <li>
                    <a href="index3.html">Dashboard 3</a>
                </li>
                <li>
                    <a href="index4.html">Dashboard 4</a>
                </li>
            </ul>
        </li>*@
                <li class="active">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Dashboard
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="far fa-bell"></i>Thông báo
                    </a>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-balance-scale"></i>Kiểm duyệt
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="#"><i class="far fa-newspaper"></i>Bài Viết</a>
                        </li>
                        <li>
                            <a href="#"><i class="far fa-address-card"></i>Tài Khoản</a>
                        </li>
                        <li>
                            <a href="#"><i class="far fa-keyboard"></i>BìnhLuận</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-table"></i>Danh Mục
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-chart-bar"></i>Thống kê
                    </a>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-cogs"></i>Cài đặt
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="#">Logo</a>
                        </li>
                        <li>
                            <a href="#">Banner</a>
                        </li>
                        <li>
                            <a href="#">Slide</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</aside>
